<h1 style="margin: 1em 0;">Omnipay gateway tester</h1>


<% @gateways.each do |gateway| %>

  <form action="/pay/<%= gateway[:title] %>" method="GET">
    <div class="row">
      <div class="small-3 columns">
      </div>
      <div class="small-9 columns">
        <h2><small><%= gateway[:title] %></small></h2>
        <br>
      </div>
    </div>

    <% gateway[:config].each do |name, value| %>
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right"><%= name %></label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" disabled value="<%= value %>">
        </div>
      </div>
    <% end %>

    <% gateway[:params].each do |name, value| %>
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right"><%= name %></label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" name="<%= name %>" value="<%= value %>">
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="small-3 columns">
      </div>
      <div class="small-9 columns">
        <input class="button" type="submit" value="GO">
      </div>
    </div>
  </form>

  <hr>

<% end %>
